<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W2N8VXTG');
    </script>
    <!-- End Google Tag Manager -->
    <link rel="icon" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/favicon.png" />

    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/css/webflow.css" rel="stylesheet" type="text/css">
    <link href="/css/hirocoool.webflow.css" rel="stylesheet" type="text/css">

    <link rel="preload" as="font" href="/fonts/Bueno-Light.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" as="font" href="/fonts/Bueno-Bold.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" as="font" href="/fonts/Bueno-Black.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" as="font" href="/fonts/TWKEverett-Extrabold-web.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" as="font" href="/fonts/TWKEverett-Thin.otf" as="font" type="font/otf" crossorigin>
    <link rel="preload" as="font" href="/fonts/TWKEverett-UltralightItalic.otf" as="font" type="font/otf" crossorigin>
    <link rel="preload" as="font" href="/fonts/TWKEverett-Bold.otf" as="font" type="font/otf" crossorigin>
    <link rel="preload" as="font" href="/fonts/TWKEverett-Regular.otf" as="font" type="font/otf" crossorigin>
    <link rel="preload" as="font" href="/fonts/TWKEverett-Light.otf" as="font" type="font/otf" crossorigin>
    <link rel="preload" as="font" href="/fonts/TWKEverett-LightItalic.otf" as="font" type="font/otf" crossorigin>
    <link rel="preload" as="font" href="/fonts/TWKEverett-Medium.otf" as="font" type="font/otf" crossorigin>
    <link rel="preload" as="font" href="/fonts/Bueno-Regular.otf" as="font" type="font/otf" crossorigin>
    <link rel="preload" as="font" href="/fonts/Bueno-Medium.otf" as="font" type="font/otf" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <meta name="description" content="<%- description%>" />
    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key=<%- googleMapsApiKey%>&libraries=places"></script>
  </head>
  <body class="notranslate">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2N8VXTG"
     height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
