:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landing-page {
  min-height: 100vh;
  width: 100%;
  background: url('/images/Background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.PhoneInput {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 16px;

  & > div:first-child {
    width: 30%;
  }

  & > div:last-child {
    width: 70%;
  }
}
